Repository BRAVMM/A-Rien, pull requests merged in 2023-12, with the labels that each got.

#6 [BACK] Fix server typescript
  .gitignore
  back/index.tsx
  back/package-lock.json
  back/package.json
  back/src/index.ts
  back/tsconfig.json
  package-lock.json
Labels: bug, enhancement, Back

#5 [CICD] en tant que developpeur je souhaite pouvoir lancer mon app avec un dockercompose yml -> dev
  back/.gitignore
  back/Dockerfile
  db/CreateDB.sql
  db/Dockerfile
  docker-compose.yml
  front/.gitignore
  front/Dockerfile
  front/package-lock.json
Labels: enhancement, CICD

#8 FRONT: AR-54 -> dev
  back/.gitignore
  back/Dockerfile
  back/package-lock.json
  front/.gitignore
  front/App.js
  front/app.json
  front/app/index.tsx
  front/assets/fonts/SpaceMono-Regular.ttf
  front/assets/images/adaptive-icon.png
  front/assets/images/favicon.png
  front/assets/images/icon.png
  front/assets/images/splash.png
  front/babel.config.js
  front/components/EditScreenInfo.tsx
  front/components/ExternalLink.tsx
  front/components/StyledText.tsx
  front/components/Themed.tsx
  front/components/__tests__/StyledText-test.js
  front/constants/Colors.ts
  front/metro.config.js
  front/package-lock.json
  front/package.json
  front/tsconfig.json
Labels: enhancement, Front

#10 Front AR-21->dev
  front/.eslintrc.json
  front/.gitignore
  front/README.md
  front/app/favicon.ico
  front/app/globals.css
  front/app/index.tsx
  front/app/layout.tsx
  front/app/login/about/page.tsx
  front/app/login/page.tsx
  front/app/page.tsx
  front/babel.config.js
  front/components/EditScreenInfo.tsx
  front/components/ExternalLink.tsx
  front/components/StyledText.tsx
  front/components/Themed.tsx
  front/components/__tests__/StyledText-test.js
  front/constants/Colors.ts
  front/next.config.js
  front/package.json
  front/postcss.config.js
  front/public/next.svg
  front/public/vercel.svg
  front/tailwind.config.js
  front/tailwind.config.ts
  front/tsconfig.json
  mobile/.eslintignore
  mobile/.eslintrc.js
  mobile/.gitignore
  mobile/Dockerfile
  mobile/app.json
  mobile/app/index.tsx
  mobile/assets/fonts/SpaceMono-Regular.ttf
  mobile/assets/images/adaptive-icon.png
  mobile/assets/images/favicon.png
  mobile/assets/images/icon.png
  mobile/assets/images/splash.png
  mobile/babel.config.js
  mobile/constants/Colors.ts
  mobile/eas.json
  mobile/metro.config.js
  mobile/package.json
  mobile/tsconfig.json
Labels: bug, enhancement, Front

#11 Back/ar 39/en tant quutilisateur je souhaite pouvoir me connecter a mon compte avec mail et mot de passe
  back/package.json
  back/src/controller/user.controller.ts
  back/src/index.ts
  back/src/models/index.ts
  back/src/models/user.model.ts
  back/src/route/user.route.ts
Labels: enhancement, Back

#12 Ar 41/en tant que developpeur je souhaite pouvoir creer un compte sur lapplication depuis un endpoint
  back/package.json
  back/src/controller/user.controller.ts
  back/src/index.ts
  back/src/route/user.route.ts
Labels: enhancement, Back

#14 FRONT: Add landing Page
  front/app/Components/Navbar.tsx
  front/app/Components/TextSection.tsx
  front/app/globals.css
  front/app/page.tsx
  front/public/logo1.svg
Labels: enhancement, help wanted, Front

#13 FRONT/AR-21->dev
  front/.gitignore
  front/app/login/about/page.tsx
  front/app/login/page.tsx
  front/app/register/login.module.css
  front/app/register/page.tsx
  front/public/logo.svg
  front/tailwind.config.ts
Labels: enhancement, Front

#17 FRONT: Add Login Page & change Call api to utils
  front/app/Utils/callApi.ts
  front/app/login/login.module.css
  front/app/login/page.tsx
  front/app/register/page.tsx
  front/package.json
Labels: enhancement, Front

#18 DOCUMENTATION: Add contribution documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#19 BACK: Add verifyToken method that decode and give the information abo…
  back/src/interfaces/request.interface.ts
  back/src/interfaces/token.interface.ts
  back/src/middleware/verifyToken.ts
  back/src/route/user.route.ts
Labels: documentation, enhancement, Back

#20 DB: Add new column
  back/src/models/actionData.model.ts
  back/src/models/user.model.ts
Labels: enhancement, DB

#21 FRONT: Add services pages
  front/app/Components/GradiantBar.tsx
  front/app/Components/IconService.tsx
  front/app/Components/Navbar.tsx
  front/app/login/page.tsx
  front/app/services/page.tsx
  front/app/services/services.module.css
  front/public/Spotify_logo_without_text.svg
Labels: enhancement

#22 Add trigger and reactions check func
  back/src/config/db.config.ts
  back/src/controller/user.controller.ts
  back/src/index.ts
  back/src/interfaces/taskScheduler.interface.ts
  back/src/interfaces/token.interface.ts
  back/src/middleware/oauth.middleware.ts
  back/src/middleware/triggers.middleware.ts
  back/src/middleware/verifyToken.ts
  back/src/models/action.model.ts
  back/src/models/actionData.model.ts
  back/src/models/index.ts
  back/src/models/oauth.model.ts
  back/src/models/reaction.model.ts
  back/src/models/reactionData.model.ts
  back/src/models/service.model.ts
  back/src/models/user.model.ts
  back/src/services/encryption.service.ts
  back/src/services/oauth.service.ts
  back/src/services/servicesApps/reactions/spotify.reactions.servicesApp.ts
  back/src/services/servicesApps/triggers/spotify.triggers.servicesApp.ts
  back/src/services/taskScheduler.ts
Labels: enhancement, Back, DB

#24 Ar 78 bug avec les GitHub actions du deploiement sur serveur
  .github/workflows/deploy-on-server.yml
Labels: bug, CICD

#26 BACK/FRONT: Fix front log messages + encrypting email
  back/src/controller/user.controller.ts
  back/src/middleware/user.middleware.ts
  back/src/services/encryption.service.ts
  back/src/services/jwt.service.ts
  back/src/services/user.service.ts
  front/app/Utils/callApi.ts
  front/app/login/page.tsx
  front/app/register/page.tsx
Labels: bug, Front, Back

#25 Ar 62 en tant quutilisateur je souhaite pouvoir creer une area poc generic component
  front/app/AREAFormTest/page.tsx
  front/app/Components/AREAForm.tsx
  front/app/Interfaces/ActionJson.interface.tsx
Labels: enhancement, Front

#29 Ar 60 spotify
  back/package.json
  back/src/controller/services/spotify.controller.ts
  back/src/index.ts
  back/src/interfaces/token.interface.ts
  back/src/middleware/services/Auth/spotifyAuth.middleware.ts
  back/src/middleware/services/refreshCallback/spotifyRefresh.middleware.ts
  back/src/middleware/services/refreshTokens.middleware.ts
  back/src/middleware/services/userAlreadyAuth.middleware.ts
  back/src/models/oauth.model.ts
  back/src/route/services.route.ts
  back/src/services/API/Spotify/authService.service.ts
  back/src/services/API/Spotify/getUserEmail.service.ts
  back/src/services/API/Spotify/refreshToken.service.ts
  back/src/services/oauth.service.ts
  back/src/services/servicesApps/reactions/spotify.reactions.servicesApp.ts
  front/app/Components/services/LoginSpotify.tsx
  front/app/Interfaces/ActionJson.interface.tsx
  front/app/Interfaces/dataBody.interface.ts
  front/app/Utils/callApi.ts
  front/app/services/page.tsx
Labels: documentation, enhancement, help wanted, Front, Back, DB

#32 FRONT: Fix not deploying front
  docker-compose.yml
  front/Dockerfile
Labels: bug

#31 BACK: ADD /ME route
  back/src/controller/user.controller.ts
  back/src/route/user.route.ts
Labels: documentation, enhancement, Back

#28 Front/ar 25/en tant qu utilisateur je souhaite pouvoir voir les actions r actions crees par l utilisateur
  front/app/Components/AreaIcon.tsx
  front/app/Components/Pastille.tsx
  front/app/Interfaces/AreaDetails.Interface.tsx
  front/app/globals.css
  front/app/services/page.tsx
Labels: enhancement, Front

#33 BACK: Fix wrong encryption for email
  back/src/controller/user.controller.ts
  back/src/models/action.model.ts
  back/src/models/actionData.model.ts
  back/src/models/reaction.model.ts
  back/src/models/reactionData.model.ts
  back/src/models/service.model.ts
  back/src/models/user.model.ts
Labels: bug, Back

#34 Front/ar 24/en tant quutilisateur je souhaite pouvoir me deconnecter
  front/app/profile/page.tsx
Labels: enhancement, Front

#27 Back: Add AREA for spotify (need to talk about it with the team)
  back/src/interfaces/spotify.interface.ts
  back/src/interfaces/taskScheduler.interface.ts
  back/src/services/servicesApps/reactions/spotify.reactions.servicesApp.ts
  back/src/services/servicesApps/triggers/spotify.triggers.servicesApp.ts
Labels: enhancement, Back

#35 Ar 88 autologin after register
  front/app/register/page.tsx
Labels: enhancement

#36 AR-45-en-tant-quutilisateur-je-souhaite-avoir-un-readme-pour-expliquer-le-projet-et-reunir-les-liens-utiles
  .github/workflows/release.yml
  README.md
Labels: documentation, enhancement

#38 DOCUMENTATION: Add developer documentation
  docs/developer_documentation/back/index.md
  docs/developer_documentation/db/index.md
  docs/developer_documentation/front/index.md
  docs/developer_documentation/index.md
  docs/developer_documentation/mobile/index.md
  docs/developer_documentation/services_api/Discord.md
  docs/developer_documentation/services_api/GoogleDrive.md
  docs/developer_documentation/services_api/GoogleMail.md
  docs/developer_documentation/services_api/MicrosoftDrive.md
  docs/developer_documentation/services_api/MicrosoftMail.md
  docs/developer_documentation/services_api/Spotify.md
  docs/developer_documentation/services_api/Teams.md
  docs/developer_documentation/services_api/Tracker.gg.md
  docs/developer_documentation/services_api/Twitch.md
  docs/developer_documentation/services_api/WeatherApi.md
  docs/developer_documentation/services_api/index.md
  docs/index.md
  docs/user_documentation/index.md
Labels: documentation

#39 Update README.md
  README.md
Labels: documentation, enhancement
