Repository BRAVMM/A-Rien, pull requests merged in 2024-01, with the labels that each got.

#42 FRONT: Fix unhandled requests rejections
  front/app/Components/Modal.tsx
  front/app/Utils/actionReactionJsonData.service.tsx
  front/app/Utils/callApi.ts
Labels: bug, Front

#41 Front/ar 79/en tant quutilisateur je souhaite pouvoir creer une area
  back/src/controller/area.controller.ts
  back/src/controller/services/spotify.controller.ts
  back/src/controller/services/timer.controller.ts
  back/src/controller/user.controller.ts
  back/src/index.ts
  back/src/interfaces/spotify.interface.ts
  back/src/interfaces/taskScheduler.interface.ts
  back/src/interfaces/timer.interface.ts
  back/src/middleware/area.middleware.ts
  back/src/middleware/services/refreshTokens.middleware.ts
  back/src/middleware/services/userAlreadyAuth.middleware.ts
  back/src/middleware/user.middleware.ts
  back/src/models/action.model.ts
  back/src/models/actionData.model.ts
  back/src/models/oauth.model.ts
  back/src/models/reaction.model.ts
  back/src/models/reactionData.model.ts
  back/src/models/service.model.ts
  back/src/route/area.route.ts
  back/src/services/oauth.service.ts
  back/src/services/servicesApps/APIActionReaction.servicesApps.ts
  back/src/services/servicesApps/reactions/spotify.reactions.servicesApp.ts
  back/src/services/servicesApps/triggers/spotify.triggers.servicesApp.ts
  back/src/services/servicesApps/triggers/timer.triggers.servicesApp.ts
  back/src/services/taskScheduler.ts
  docs/developer_documentation/AddService.md
  front/app/Components/AREAForm.tsx
  front/app/Components/Modal.tsx
  front/app/Components/services/LoginSpotify.tsx
  front/app/Interfaces/ActionJson.interface.tsx
  front/app/Interfaces/ModalData.interface.tsx
  front/app/Utils/actionReactionJsonData.service.tsx
  front/app/Utils/callApi.ts
  front/app/Utils/generateRandomString.ts
  front/app/services/page.tsx
  front/public/Discord_logo.svg
  front/public/Gmail_logo.svg
  front/public/Onedrive_logo.svg
  front/public/Outlook_logo.svg
  front/public/Spotify_logo.svg
  front/public/Spotify_logo_without_text.svg
  front/public/Teams_logo.svg
  front/public/Timer_logo.svg
  front/public/TrackerGG_logo.svg
  front/public/Twitch_logo.svg
  front/public/Weather_logo.svg
Labels: bug, enhancement, Front, Back

#30 FRONT/MOBILE: add login / register with redirection
  mobile/app/_layout.tsx
  mobile/app/index.tsx
  mobile/app/login.tsx
  mobile/assets/images/logo1.svg
  mobile/assets/images/logobravm.png
  mobile/package.json
Labels: enhancement, Front, mobile

#43 BACK; add about
  back/src/controller/about.controller.ts
  back/src/index.ts
  back/src/route/about.route.ts
Labels: enhancement, Back

#45 BACK: Fix segfault in docker
  back/Dockerfile
Labels: bug, Back

#44 Front/ar 89 refactor spotify auth
  back/src/controller/services/spotify.controller.ts
  back/src/middleware/services/Auth/spotifyAuth.middleware.ts
  back/src/middleware/services/refreshTokens.middleware.ts
  back/src/middleware/services/userAlreadyAuth.middleware.ts
  back/src/models/oauth.model.ts
  back/src/route/services.route.ts
  back/src/services/API/Spotify/authService.service.ts
  front/app/Components/services/LoginSpotify.tsx
  front/app/Utils/callApi.ts
Labels: bug, documentation, Front, Back

#50 FRONT: redirect not logged users
  back/src/controller/user.controller.ts
  front/app/register/page.tsx
  front/app/services/page.tsx
Labels: Front

#49 CI-CD: Change docker-compose front port
  docker-compose.yml
Labels: CICD

#48 Mobile/ar 94 spotify
  back/src/middleware/services/Auth/spotifyAuth.middleware.ts
  back/src/middleware/services/userAlreadyAuth.middleware.ts
  back/src/services/API/Spotify/authService.service.ts
  front/app/Utils/callApi.ts
  mobile/app/Components/LoginSpotify.tsx
  mobile/package.json
Labels: enhancement, Back, mobile

#54 Cicd test
  .github/workflows/release.yml
  .gitignore
  mobile/.env.vault
  mobile/.gitignore
  mobile/package.json
Labels: bug, CICD

#55 dev -> main
  .github/workflows/release.yml
  .gitignore
  mobile/.env.vault
  mobile/.gitignore
  mobile/package.json
Labels: bug, CICD

#56 Cicd test
  .github/workflows/release.sh
  .github/workflows/release.yml
Labels: bug, CICD

#57 DEV -> MAIN
  .github/workflows/release.sh
  .github/workflows/release.yml
Labels: bug, CICD

#62 Back/ar 103/implementer get areas
  back/src/controller/area.controller.ts
  back/src/interfaces/areaData.interface.ts
  back/src/middleware/triggers.middleware.ts
  back/src/route/area.route.ts
  front/app/Components/AreaIcon.tsx
  front/app/Interfaces/AreaDetails.Interface.tsx
  front/app/Utils/actionReactionJsonData.service.tsx
  front/app/services/page.tsx
Labels: enhancement, Front, Back

#59 CICD: change dockerfile web dev -> prod
  .github/workflows/deploy-on-server.yml
  front/Dockerfile
Labels: CICD

#47 Back/ar 43/en tant quutilisateur je souhaite pouvoir utiliser le service discord depuis le front
  back/src/controller/about.controller.ts
  back/src/controller/services/discord.controller.ts
  back/src/controller/services/timer.controller.ts
  back/src/index.ts
  back/src/middleware/services/Auth/discordAuth.middleware.ts
  back/src/middleware/services/refreshCallback/discordRefresh.middleware.ts
  back/src/middleware/services/refreshTokens.middleware.ts
  back/src/middleware/verifyToken.ts
  back/src/models/oauth.model.ts
  back/src/route/services.route.ts
  back/src/services/API/Discord/authService.service.ts
  back/src/services/API/Discord/refreshToken.service.ts
  back/src/services/API/Spotify/authService.service.ts
  back/src/services/oauth.service.ts
  back/src/services/servicesApps/reactions/discord.reactions.servicesApp.ts
  back/src/services/taskScheduler.ts
  docs/developer_documentation/addService.md
  docs/developer_documentation/back/index.md
  front/app/AREAFormTest/page.tsx
  front/app/Components/AREAForm.tsx
  front/app/Components/Modal.tsx
  front/app/Components/services/CreateWebhookDiscord.tsx
  front/app/Interfaces/ActionJson.interface.tsx
  front/app/Interfaces/dataBody.interface.ts
  front/app/Utils/callApi.ts
  front/app/cgu/page.tsx
  front/app/profile/page.tsx
  front/app/services/page.tsx
  front/package.json
Labels: enhancement, Front, Back

#60 Ar 97 en tant quutilisateur je shouaite pouvoir creer une area sur mobile
  back/.gitignore
  back/src/controller/area.controller.ts
  back/src/middleware/area.middleware.ts
  front/.env.vault
  front/.gitignore
  front/app/Components/Modal.tsx
  front/app/Utils/actionReactionJsonData.service.tsx
  front/app/services/page.tsx
  mobile/app/Components/AREACreation.tsx
  mobile/app/Components/AREAForm.tsx
  mobile/app/Components/BravmmModal.tsx
  mobile/app/Components/GradiantBar.tsx
  mobile/app/Components/IconService.tsx
  mobile/app/Components/LoginSpotify.tsx
  mobile/app/Components/SelectServices.tsx
  mobile/app/Interfaces/ActionJson.interface.tsx
  mobile/app/Interfaces/ModalData.interface.tsx
  mobile/app/Interfaces/dataBody.interface.tsx
  mobile/app/Utils/actionReactionJsonData.serivce.tsx
  mobile/app/Utils/callApi.tsx
  mobile/app/_layout.tsx
  mobile/app/home.tsx
  mobile/app/index.tsx
  mobile/app/login.tsx
  mobile/app/profile.tsx
  mobile/app/register.tsx
  mobile/assets/images/close.png
  mobile/assets/images/plus.png
  mobile/package.json
Labels: bug, mobile

#63 BACK/MOBILE: Add areas listing + editing
  back/src/controller/area.controller.ts
  back/src/index.ts
  back/src/middleware/area.middleware.ts
  back/src/middleware/services/Auth/discordAuth.middleware.ts
  back/src/models/oauth.model.ts
  back/src/route/area.route.ts
  back/src/services/API/Discord/authService.service.ts
  back/src/services/API/Spotify/authService.service.ts
  mobile/app/Components/AREAsList.tsx
  mobile/app/Components/AnimatedBackground.tsx
  mobile/app/Components/BottomPlusButton.tsx
  mobile/app/Components/TopBar.tsx
  mobile/app/Interfaces/areaData.interface.tsx
  mobile/app/Utils/actionReactionJsonData.serivce.tsx
  mobile/app/Utils/callApi.tsx
  mobile/app/home.tsx
  mobile/app/register.tsx
  mobile/babel.config.js
  mobile/constants/Colors.ts
  mobile/package.json
Labels: enhancement, Back, mobile

#66 FRONT: Add client.apk
  .gitignore
  front/app/client.apk/page.tsx
Labels: enhancement, Front

#69 Ar 109 en tant quutilisateur je souhaite pouvoir voir mon profile et modifier mes attributs
  back/src/controller/user.controller.ts
  back/src/route/user.route.ts
  mobile/app/Components/AnimatedBackground.tsx
  mobile/app/Components/BravvmButton.tsx
  mobile/app/Components/ConnectToServiceButton.tsx
  mobile/app/Components/LoginSpotify.tsx
  mobile/app/Components/TopBar.tsx
  mobile/app/Interfaces/UserData.interface.tsx
  mobile/app/Utils/actionReactionJsonData.serivce.tsx
  mobile/app/Utils/callApi.tsx
  mobile/app/profile.tsx
  mobile/constants/Colors.ts
  mobile/package.json
Labels: bug, enhancement, mobile

#65 Mobile/ar 107/en tant quutilisateur je souhaite pouvoir utiliser discord sur mobile
  back/src/controller/services/discord.controller.ts
  back/src/route/services.route.ts
  back/src/services/API/Discord/authService.service.ts
  mobile/app/Components/ConnectToServiceButton.tsx
  mobile/app/Components/LoginDiscord.tsx
  mobile/app/Components/LoginMicrosoft.tsx
  mobile/app/Components/SelectServices.tsx
  mobile/app/profile.tsx
  mobile/package.json
Labels: enhancement, mobile

#67 Ar 99 en tant quutilisateur je souhaite pouvoir me connecter creer un compte en utilisant l oauth
  back/src/controller/user.controller.ts
  back/src/index.ts
  back/src/interfaces/googleInfo.interface.ts
  back/src/middleware/user.middleware.ts
  back/src/models/user.model.ts
  back/src/route/user.route.ts
  back/src/services/API/Google/authService.service.ts
  back/src/services/API/Google/getUserEmail.service.ts
  front/app/Components/OauthLogin/googleLogin.tsx
  front/app/Components/services/LoginSpotify.tsx
  front/app/Interfaces/dataBody.interface.ts
  front/app/login/page.tsx
  front/public/Google_Logo.svg
  mobile/app/Components/TopBar.tsx
Labels: enhancement, Front, Back, DB

#70 Some fixes
  .github/workflows/deploy-on-server.yml
  back/.env.vault
  back/.gitignore
  back/src/controller/services/discord.controller.ts
  back/src/index.ts
  back/src/interfaces/onedrive.interface.ts
  back/src/interfaces/outlook.interface.ts
  back/src/middleware/services/Auth/discordAuth.middleware.ts
  back/src/models/oauth.model.ts
  back/src/route/services.route.ts
  back/src/services/API/Discord/authService.service.ts
  back/src/services/oauth.service.ts
  back/src/services/servicesApps/reactions/discord.reactions.servicesApp.ts
  back/src/services/servicesApps/reactions/teams.reactions.servicesApp.ts
  back/src/services/servicesApps/triggers/onedrive.triggers.services.ts
  back/src/services/servicesApps/triggers/outlook.triggers.services.ts
  back/src/services/servicesApps/triggers/spotify.triggers.servicesApp.ts
  back/src/services/taskScheduler.ts
  front/.env.vault
  front/.gitignore
  front/app/Components/AreaIcon.tsx
  front/app/Components/services/CreateWebhookDiscord.tsx
  front/app/profile/page.tsx
  front/app/services/page.tsx
  front/public/Microsoft_logo.svg
  front/public/red-trash-can-icon.svg
  mobile/.env.vault
  mobile/.gitignore
  mobile/app/Components/BravmmButton.tsx
  mobile/app/Components/ConnectToServiceButton.tsx
  mobile/app/Components/LoginDiscord.tsx
  mobile/app/Components/LoginMicrosoft.tsx
  mobile/app/Components/LoginSpotify.tsx
  mobile/app/Components/SelectServices.tsx
  mobile/app/home.tsx
  mobile/app/profile.tsx
  mobile/assets/images/logos/Microsoft_logo.png
  mobile/package.json
Labels: bug, Front, Back, mobile

#71 BACK: Update about.json
  back/src/controller/about.controller.ts
Labels: enhancement, Back

#72 DEV->MAIN
  mobile/package.json
Labels: bug, CICD

#73 DEV -> MAIN
  mobile/app/Components/AREACreation.tsx
  mobile/app/Interfaces/ModalData.interface.tsx
Labels: bug, Back
